*{
 margin:0;
 padding:0;
}

.clr{
 clear:both;
}

img{
 border:0;
}

a{
}

a:hover{
}

.bold{
 font-weight:bold;
}

html, body{
 height:100%;
}

body{
 font-family:Arial, Helvetica, sans-serif;
 font-size:14px;
 color:#fff;
 line-height:1.5;
 background:#000;
}

.body{
 width:100%;
 min-height:90%;
 background: url(../images/site/footer.jpg) bottom repeat-x;
 padding-bottom:100px;
}

.container{
	width:977px;
	background:url(../images/site/head.jpg) top left no-repeat;
	margin:0px auto;
}

.container .contain{
	width:977px;
  margin:0 auto;
	position:relative;
	padding-top:160px;
}

.logo{
	position:absolute;
	left:240px;
	top:20px;
}

.tel{
 position:absolute;
 left:500px;
 top:30px;
 font-size:24px;
}

.code{
 position:relative;
 font-size:18px;
}

.nav {
  width: 100%;
  position:relative;
  top:-28px;
  display:block;
  height:41px;
  background:url(../images/site/menu.jpg) center no-repeat;
}

.nav ol {
  padding:0;
  margin:0;
  display:table-row;
}

.nav ol li {
  list-style: none;
  height: 41px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin:0 auto;
}

.nav #nav1 {
  width: 13%;
}
.nav #nav2 {
  width: 13%;
}
.nav #nav3 {
  width: 16%;
}
.nav #nav4 {
  width: 11%;
}
.nav #nav5 {
  width: 11%;
}
.nav #nav6 {
  width: 13%;
}
.nav #nav7 {
  width: 10%;
}
.nav #nav8 {
  width: 13%;
}

.nav ol li a {
 text-decoration:none;
 color:#fff;
 font-size:13px;
 text-shadow:0px 1px 1px #000;
 padding-left:10px;
 padding-right:10px;
 text-align:center;
 height: 41px;
 width:1000px;
 display: table-cell;
 vertical-align: middle;
}

.nav ol li a.active{
 background:url(../images/site/active.png) bottom repeat-x;
}

.nav ol li a:hover{
 background:url(../images/site/hover.png) bottom repeat-x;
}

.leftcol{
 position:relative;
 top: -20px;
 width:570px;
 float:left;
}

.centcol {
 position:relative;
 top: -20px;
 margin:0px 100px auto;
 float:left;
}

h1{
 font-size:28px;
 color:#ff4400;
 height:40px;
 font-weight:normal;
}

.scroll_link {
  text-decoration: none;
}

.scroll_link:hover {
  text-decoration: underline;
}

.orange {
  color:#ff4400;
}
.text{
line-height:1.75;
}
.text p:first-letter{
 margin-left:25px;
}

.main_girl{
 float:right;
 width:370px;
 position:relative;
 top:60px;
}

.main_girl img {
 float:left;
}

.main_girl div{
 float:right;
 width:170px;
 color:#ff4400;
 line-height:1.75;
}


.main_girl div .name, .gallery_d .name{
 font-size:24px;
 display:block;
}

.main_girl .desc, .gallery_d .desc{
 font-size:12px;
 display:block;
}

.main_girl .params, .gallery_d .params{
 display:block;
 font-size:16px;
}

.main_girl .params span, .gallery_d .params span{
 color:#fff;
 font-size:14px;
 display:block;
}

.main_girl a, .gallery_d a{color:#ff4400; text-decoration:underline;}

.main_girl a:hover, .gallery_d a:hover{
 text-decoration:none;
}

.form{
 float:right;
 width:380px;
 position:relative;
 top:50px;
}

.form span{
 display:block;
 font-size:12px;
 color:#fff;
 margin-bottom:4px;
}

.form textarea{
 width:370px;
 height:200px;
 padding:5px;
 background:#cb8811;
 border-radius:5px;
 resize:none;
 border:none;
 margin-bottom:10px;
}

.form input{
 display:block;
 width:370px;
 height:28px;
 background:#cb8811;
 border-radius:5px;
 border:none;
 margin-bottom:20px;
}

.form input[type="submit"] {
 width:379px;
 height:40px;
 position:relative;
 cursor:pointer;
 background:url(../images/site/send_btn.png);
}

.form input[type="submit"]:hover {
  background:url(../images/site/send_btn_hover.png);
}

.form input#submit span{
 position:absolute;
 color:#fff;
 font-size:14px;
 text-align:center;
 left:0px;
 right:0px;
 top:9px;
 cursor:pointer;
}

.map{
 float:left;
 width:398px;
}

.map_info{
 width:550px;
 float:right;
}

.gallery_c{
 display:block;
 margin-bottom:35px;
}

.gallery{
 width:297px;
 float:left;
}

.gallery_d{
 float:left;
 margin-left:40px;
 color:#ff4400;
 line-height:1.75;
 position:relative;
 top:30px;
 display:block;
}

#gal_big{
 width:297px;
 text-align:center;
 display:block;
 margin-bottom:15px;
}

#gal_big img{
 border:5px solid #da3c02;
}

.gallery a{
 border:2px solid #da3c02;
 float:left;
}

.gallery a.margin{
 margin:0px 10px;
}


.more_girls{
 display:block;
 background:url(../images/site/c_sep.png) top center no-repeat;
 width:100%;
 position:relative;
 padding-top:20px;
}

.more_girls div{
 text-align:center;
 margin-top:15px;
 height: 90px;
}

.more_girls a{
 margin:0px 4px;
}

.more_girls a img{
 position:relative;
 top:4px;
 border:2px solid #da3c02;
}

.more_girls a img:hover{
 border:4px solid #da3c02;
}

.program_pic{
 float:left;
 width:180px;
 margin-right:20px;
}

.program_pic img{
 border:5px solid #da3c02;
}

.program_d{
 float:left;
 width:570px;
}

.block_cat{
 display:block;
 margin-top:20px;
}

.block_cat .links{
 font-size:18px;
 display:block;
 padding-left:85px;
}

.block_cat .links div {
 float:left;
 display:block;
 margin:0px 15px 15px 15px;
}

.block_cat .links div a{
 background-position:center 5px;
 background-repeat:no-repeat;
 text-decoration:none;
 display:block;
 height:50px;
 position:relative;
}

.cl a{background-image:url(../images/site/classic.png); color:#00c405;}
.po a{background-image:url(../images/site/popular.png); color:#ff4400;}
.ex a{background-image:url(../images/site/exclusive.png); color:#e90000;}
.wo a{background-image:url(../images/site/for_women.png); color:#0054ff;}
.pa a{background-image:url(../images/site/couple.png); color:#cc00ff;}
.he a{background-image:url(../images/site/health.png); color:#00ccff;}

.block_cat .links a{
 text-decoration:none;
}

.block_cat .links a span{
 position:relative;
 top:30px;
}

.block_cat .block{
 display:block;
 background:url(../images/site/bg1.png) top repeat-x;
 border-top:1px solid #cb0000;
}

.block .inner_block {
  padding:10px;
  margin:0 auto;
}

.block_cat .block img{
 border:2px solid #da3c02;
 margin:0px 6px;
}

.block_cat .block img{
  border:5px;
}

.block_cat .active{
 background:url(../images/site/bg2.png) bottom repeat-x;
}

.room_pic{
 float:left;
 border:5px solid #da3c02;
}

.room_t{
 float:left;
 margin-left:25px;
 width:550px;
}

.more_rooms{
 display:block;
 margin-top:40px;
}

.more_rooms a {
 margin-right:16px;
}

.more_rooms a img{
 border:5px solid #da3c02;
}

.more_rooms h1{
 margin-bottom:20px;
}

.room_t h1{
 font-size:24px;
 margin-top:15px;
}

.room_t p:first-letter{
 margin-left:25px;
}

.text ul{
 list-style:decimal;
 padding-left:50px;
}

div#map {
  width:400px;
  height:300px;
  float:left;
  border: 4px solid #DA3C02;
}

.sub {
  width:100%;
  display:inline-block;
  font-size:0;
  line-height:0;
}

.over {
  text-align:justify;
  background:url(../images/site/bg1.png) top repeat-x;
  line-height:0;
}

/*IE6*/* html .sub {
  display:inline;
}

/*IE7*/* + html .sub {
  display:inline;
}

.over img {
  margin-top:1%;
  margin-bottom:1%;
  border:3px solid #da3c02;
}

.over img:hover {
  border:5px solid #da3c02;
}

.over .first {
  margin-left:2%;
}

.over .last {
  margin-right:2%;
}

.hidden {
  display:none;
}
