<div class="body">
  <div class="container">
    <div class="contain">
      <a href="#" class="logo"><img src="/assets/images/site/logo.png" alt="" /></a>
      <span class="tel"><span class="code">+7 (343)</span> 213-69-69</span>
      <div class="nav">
        <ol id="nav">
          <li id="nav1"><a href="index.html">О райском месте</a></li>
          <li id="nav2"><a href="employees.html">Наши львицы</a></li>
          <li id="nav3"><a href="services.html">Выбери удовольствие</a></li>
          <li id="nav4"><a href="views.html">Наши пейзажи</a></li>
          <li id="nav5"><a href="comments" class="active">О нас говорят</a></li>
          <li id="nav6"><a href="rules.html">Закон джунглей</a></li>
          <li id="nav7"><a href="location.html">Найти нас</a></li>
          <li id="nav8"><a href="challengers">Пополни прайд</a></li>
        </ol>
      </div>

      <div class="main_content">
        <div class="comments_content">
          <h2>Ваши комментарии</h2>
          <% @comments.each do |comment| %>
            <p><span class="orange"><strong><%= comment.name %></strong></span><br />
            <%= comment.text %></p><br />
          <% end %>
        </div>
        <div class="form">
          <%= render :partial => 'create' %>
        </div>
      </div>
    <div class="clr"></div>
  </div>
</div>
