body {
  background-color:black;
}
div.wrapper {
  min-width:990px;
  max-width:1180px;
  margin: 0 auto;
  position:relative;
  width:95%;
}

header {
  position:relative;
  top:10em;
}
div.menu {
  font-size: 0.85em;
  height:3.2em;
  color: #000;
  text-align:center;
  background-color: #C04616;
}
div.menu div {
  width:74em;
  margin: auto;
}
div.menu span {
  float:left;
  color: #999;
  background-color: #C04616;
  padding: 10px 18px;
}
div.menu a {
  display:block;
  float:left;
  color: #e8e8e8;
  background-color: #C04616;
  text-align:center;
  padding: 10px 18px;
  text-decoration: none;
}
div.menu a:hover {
  color: #ccc;
  background-color: #782A0B;
}

.logo {
  position:relative;
  top:-5em;
  left:18em;
  color:#FFFFFF;
  width:auto;
}

.phone {
  position:relative;
  top:-4.5em;
  left:25em;
  font-size:1.5em;
  color: #FFFFFF;
  width:auto;
}

div.main_content {
  position:relative;
  top:12em;
}

div#map {
  width:400px;
  height:300px;
  float:left;
  border-size:4px;
}
div.text {
  margin-left: 450px;
}

h2.orange {
  color:#E85018;
  border-color:#E85018;
}

span,h1,h2,h3,h4 {
  color:#EEEEEE;
}
