body {
  background-color: black;
  font-family: arial, sans-serif;
  font-size: 16px;
  color: #EEEEEE;
}
div.wrapper {
  width:977px;
  margin:0 auto;
  position:relative;
}

header {
  display:block;
  position:relative;
  top:100px;
}

.nav {
  width: 100%;
}

ol {
  font-weight: bold;
  padding:0;
  margin:0;
  display:table;
}

nav li {
  list-style: none;
  height: 45px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  margin:0 auto;
}
nav li#1 {
  width:10%;
}

nav li a {
  color: #EEEEEE;
  background-color: #C04616;
  text-decoration: none;
  text-align:center;
  height: 45px;
  display: block;
  margin-top:10px;
  font-size:12px;
}

nav a.active, a.active:hover {
  cursor:default;
  background-color:#542710;
}

nav a:hover {
  background-color:#782A0B;
}

.logo {
  position:relative;
  top:-63px;
  left:230px;
  color:#FFFFFF;
  width:auto;
}

.phone {
  position:relative;
  top:-65px;
  left:500px;
  font-size:1.5em;
  width:auto;
}

div.main_content {
  position:absolute;
  top:250px;
}

div#map {
  width:400px;
  height:300px;
  float:left;
  border-size:4px;
}
div.text {
  margin-left: 450px;
}

.orange {
  color:#E85018;
  border-color:#E85018;
}

.content {
  width:650px;
  float:left;
  border-size:4px;
}
.comments_form {
  margin-top:  200px;
  margin-left: 750px;
}

.comments_form input#comment_name, textarea#comment_text {
  background-color:#C68E14;
  color:#000000;
  width:100%;
}

.comments_form input#submit {
  background-color:#E85018;
  color:#EEEEEE;
  width:100%;
}

.challengers_form {
  margin-top:  150px;
  margin-left: 750px;
}

.challengers_form input#challenger_name, textarea#challenger_text {
  background-color:#C68E14;
  color:#000000;
  width:100%;
}

.challengers_form textarea#challenger_text {
  height:200px;
}

.challengers_form input#submit {
  background-color:#E85018;
  color:#EEEEEE;
  width:100%;
}
