body {
  background-color: black;
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #EEEEEE;
}
div.wrapper {
  min-width:980px;
  max-width:1180px;
  margin:0 auto;
  position:relative;
}

header {
  display:block;
  position:relative;
  top:10em;
}
nav {
  min-width: 980px;
  min-width: 1180px;
  position: relative;
  top:150px;
  overflow: hidden;
  text-align: center;
  margin: 5px auto;
}

.navicontainer {
  float: left;
  left: 50%;
  position: relative;
  text-align: center;
}

.menu_wrapper {
  position: relative;
  left: -50%;
  float: left;
  list-style: none;
  margin: 0; padding: 0;
}

nav a {
  float: left;
  padding: 15px;
  margin: 0;
  color: #EEEEEE;
  font-weight: bold;
  text-decoration: none;
  background-color: #C04616;
}

nav a:hover {
  color: #CCC;
  background-color: #782A0B;
}

nav a.active {
  color: #999;
  cursor: default;
  background-color: #542710;
}
nav a.first {
  padding-left:29px;
}

nav a.last{
  padding-right:30px;
}

.logo {
  position:relative;
  top:-5em;
  left:18em;
  color:#FFFFFF;
  width:auto;
}

.phone {
  position:relative;
  top:-4.5em;
  left:25em;
  font-size:1.5em;
  width:auto;
}

div.main_content {
  position:absolute;
  top:250px;
}

div#map {
  width:400px;
  height:300px;
  float:left;
  border-size:4px;
}
div.text {
  margin-left: 450px;
}

h2.orange {
  color:#E85018;
  border-color:#E85018;
}

.comments {
  width:600px;
  float:left;
  border-size:4px;
}
.comments_form {
  margin-left: 750px;
}

.comments_form input, textarea {
  width:100%;
