    <div class="body">
      <div class="container">
        <div class="contain">
          <a href="#" class="logo"><img src="/assets/images/site/logo.png" alt="" /></a>
          <span class="tel"><span class="code">+7 (343)</span> 213-69-69</span>

          <div class="nav">
            <ol id="nav">
              <li id="nav1"><a href="index.html">О райском месте</a></li>
              <li id="nav2"><a href="employees.html">Наши львицы</a></li>
              <li id="nav3"><a href="services.html">Выбери удовольствие</a></li>
              <li id="nav4"><a href="views.html">Наши пейзажи</a></li>
              <li id="nav5"><a href="comments.html">О нас говорят</a></li>
              <li id="nav6"><a href="rules.html">Закон джунглей</a></li>
              <li id="nav7"><a href="location.html">Найти нас</a></li>
              <li id="nav8"><a href="challengers.html" class="active">Пополни прайд</a></li>
            </ol>
          </div>
          <div class="leftcol">
            <div class="text">
              <h1>Пополни прайд</h1>
              <p>Наш салон не ведет постоянный поиск девушек, так как мы нацелены на качество, а не на количество. Мы создаем условия для работы нашим специалистам, делаем так, что бы их работа была комфортной, интересной и надежной.</p>
              <p>Наш подход к организации работы очень прост. <b>Люби Клиента</b>, <b>Люби работу</b>, соблюдай правила - <b>получай хорошую оплату</b> в среднем 80 000 рублей в месяц + <b>получай бонусы и привилегии.</b></p>
              <h2 class="orange">Поэтому давайте сразу расставим все точки над "И"</h2>
              <ul>
                <li><p>Мы рассматриваем опытных мастеров <b>только в том случае, если Вы не разучились ЛЮБИТЬ Мужчин</b> и делать массаж, а не просто д...ть. Если Вы смотрите на Мужчин только как на З/П то Вам не к нам.</p>
                    <p>Мы берем только тех кто Любит, Хочет и Умеет доставлять Мужчинам удовольствие.</p></li>
                <li>Нам нужны <b>абсолютно здоровые девушки</b>, перед трудоустройством, мы обязательно проверим это.</li>
                <li>Нам нужны ответственные и пунктуальные девушки. <b>Мы хорошо платим</b>, но за опоздания или невыход - хорошо и наказываем.</li>
                <li>Нам НЕ нужны сотрудницы профессии "Древней классической". Мы не позволим заниматься интимном в салоне отдыха Afffrica. Любой выявленный факт будет не просто караться увольнением, карьера массажистки для вас будет закрыта раз и навсегда.</li>
                <li><b>Мы берем  девушек без опыта</b>, но с БОЛЬШИМ желанием, однако Вы должны понимать, что первое время Вам надо научиться мастерству. (1-2недели).</li>
                <li>Мы принимаем <b>только стройных и симпатичных девушек</b>. Мы уважаем всех представителей прекрасного пола, но надо понимать что в данной профессии внешность является одним из основных факторов приема на работу.</li>
              </ul>
              <h1>А теперь о приятном:</h1>
              <ul>
                <li>Мы даем <b>официальное трудоустройство</b> после испытательного срока, для тех, кому это надо.</li>
                <li>Ваш <b>доход</b> будет составлять <b>от 60 000</b> рублей в месяц в среднем 80 000 - 100 000 рублей.</li>
                <li><b>Плавающий график работы</b>. В начале месяца Вы согласовываете график с администратором.</li>
                <li>Комфортные условия работы. В нашем салоне есть комната отдыха где можно отдохнуть; <b>кухня с холодильником, кулером, посудомоечной машиной и плитой, где можно приготовить себе еду; домашний кинотеатр с более чем 100 каналами для вашего комфортного отдыха и бесплатный WI-Fi. Вам не надо стирать простыни, гладить и сушить их, все это делает сторонняя организация.</b></li>
                <li>Мы постоянно совершенствуемся. Каждый мастер <b>получает профессиональное обучение массажу</b> и общению с клиентами.</li>
                <li><b>Приятные знакомства с интересными Мужчинами</b>, добившимися уже чего то в этой жизни ;) и много других мелочей, которые Вас приятно удивят.</li>
              </ul>
              Если заинтересовались звоните по (343) 456-00-01<br />
              или пишите на info@afffrica.ru
            </div>
          </div>

          <div class="form">
            <%= render :partial => 'create' %>
          </div>

          <div class="clr"></div>
        </div>
      </div>
    </div>
</div>
