<nav>
  <div class="navicontainer">
    <div class="menu_wrapper">
      <a href="index.html" class="first">О райском месте</a>
      <a href="employees.html">Наши львицы</a>
      <a href="services.html">Выбери удовольствие</a>
      <a href="views.html">Наши пейзажи</a>
      <a href="comments">О нас говорят</a>
      <a href="laws.html">Закон джунглей</a>
      <a href="location.html">Найти нас</a>
      <a href="challengers" class="last active">Пополни прайд</a>
    </div>
  </div>
</nav>
<div class="main_content">
  <div class="challengers_content">
    <h2 class="orange">Пополни прайд</h2>
    <p>Наш салон не ведет постоянный поиск девушек, так как мы нацелены на качество, а не количество. Мы создаем условия для работы нашим специалистам, делаем так, чтобы их работа была комфортной, инетерсной и надежной.</p>
    <p>Наш подход к организации работы очень прост. Люби клиента. Люби работу, соблюдай правила - получай хорошую оплату до 80 000 руб./мес. получай бонусы и привилегии.</p><br />
    <h3 class="orange">Давайте сразу расставим все точки над "И"</h3>
    <ul>
      <li>Мы рассматриваем опытных мастеров, только в том случае, если вы не разучились ЛЮБИТЬ мужчин и делать массаж, а не просто д...ть. Если Вы смотрите на Мужчин только как на З/П, то вам не к нам. Мы берем только тех кто Любит, Хочет и Умеет доставлять Мужчинам удовольствие.</li>
      <li>Нам нужны абсолютно здоровые девушки, перед трудоустройством, мы обязательно проверим это.</li>
      <li>Нам нужны ответственные и пунктуальные девушки. Мы хорошо платим, но за опоздания, а тем более за невыход - хорошо и наказываем.</li>
      <li>Нам НЕ нужны проститутки. Мы не позволим заниматься интимом в нашем салоне. Любой выявленный факт будет не просто карасть увольнением, мы сами сообщим в органы об этом факте. Кроме того, карьера массажистки для вас будет закрыта раз и навсегда.</li>
      <li>Мы принимаем девушек без опыта, но Вы должны понимать, что первое время Вам будет научиться работе (1-2недели). Плюс ко всему мы принимаем стройных и симпатичных девушек.</li>
    </ul>
    <p>Если вы снимались в фильме "Не родись красивой", то вам в шоу-бизнес, а не к нам.</p>
    <h3 class="orange">А теперь о приятном:</h3>
    <ul>
      <li>Мы даем официальное трудоустройство после испытательного срока, для тех кому это надо.</li>
      <li>Ваш доход будет составлять от 50 000 до 100 000 рублей в месяц.</li>
      <li>Плавающий график работы. В начале месяяца вы согласовываете график с администратором.</li>
      <li>Комфортные условия работы. В нашем салоне есть комната отдыха, кухня, домашний кинотеатр и WI-FI. Вам не надо стирать простыни, гладить и сушить их, все это делает сторонняя организация.</li>
      <li>Мы постоянно совершенствуемся. Каждый мастер получает профессиональное обучение массажу и общению с клиенетами.</li>
    </ul>
    <p>Если заинтересовались звоните по (343) 456-00-01</p>
    <p>или пишите на mailto:info@afffrica.ru</p>
  </div>
  <div class="challengers_form">
    <%= render :partial => 'create' %>
  </div>
</div>
